@import url("../../../var.css");
.btn {
  border-radius: 10px;
  border: 1px solid;
  background: var(--button-bg);
  border-image-source: linear-gradient(
    135.66deg,
    var(--border-line) 28.87%,
    rgba(47, 47, 55, 0) 76.42%
  );
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Manrope";
  margin-top: 10px;
}
