@import url("../../var.css");

.themeToggleButton {
  position: absolute;
  background-color: var(--violet-dark);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin: auto;
  margin: 0 0 0 5px;
  box-shadow: 4px 4px 17.4px 0px #ffffff47 inset;
  border: 1px solid var(--border-line);
  z-index: 1;
  cursor: pointer;
}
