.btn{
    border-radius: 10px;
    border: 1px solid;
    background: #1C1C21;
    border-image-source: linear-gradient(135.66deg, #2F2F37 28.87%, rgba(47, 47, 55, 0) 76.42%);
    width: 160px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: "Manrope";
}
.container{
    width: 100%;
    margin: 150px 0px 50px 0px ;
    display: flex;
    justify-content: space-between;
    
}
.block1{
    width: 50%;
    text-align: left;
}
.block2{
    width: 10%;
}
.block1_el1{
    font-size: 20px;
    font-family: "Manrope";
    font-weight: 600;
    color: #797C86;
}
.block1_el2{
    font-size: 58px;
    font-family: "Manrope";
    font-weight: 600;
}