.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрирует содержимое по вертикали */
}

.block1_main,
.block2_main,
.block3_main {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #0e0e10;
  border-radius: 5%;
  background: #0e0e10 url("../../../../images/Abstract.png") no-repeat center;
  background-size: cover; /* Изображение будет покрывать весь блок */
  border-radius: 5%;
  position: relative; /* Для наложения внутренних элементов */
}

.icon {
  width: 24px;
}

.block2_el3_social {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 30px;
  border: 1px solid #1c1c21;
  padding: 5px;
}
.block2_el3_btn1,
.block2_el3_btn2 {
  border-radius: 10px;
  border: 1px solid;
  background: #1c1c21;
  width: 220px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Manrope";
  border: 1px solid #1c1c21;
}

.btn_social {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1c1c21;
  border: 1px solid #1c1c21;
}
.icon_social {
  width: 20px;
  height: 20px;
}
.block1_box1,
.block2_box1,
.block3_box1 {
  align-items: center; /* Центрирует содержимое по вертикали */
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.block1_box2,
.block2_box2,
.block3_box2 {
  margin: 20px;
}
.block1_box3,
.block2_box3,
.block3_box3 {
  display: flex;
  margin: 20px;
  gap: 10px;
  align-items: center; /* Центрирует содержимое по вертикали */
  text-align: left;
}
.box1_el2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Manrope";
  color: #e4e4e6;
}
.box1_el3 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Manrope";
  color: #62646c;
}
span {
  font-size: 20px;
  font-weight: 500;
  font-family: "Manrope";
  color: #e4e4e6;
}
