@import url("../../../../../var.css");
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}
.btn {
  background-color: var(--violet-dark_);
  border-radius: 100px;
  width: 130px;
  height: 66px;
  margin: 10px 10px 10px 10px;
  box-shadow: 4px 4px 17.4px 0px #ffffff47 inset;
  border: 1px solid var(--border-line);
}
.img {
  width: 25%;
}
.block1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.block2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}
.block1_el1 {
  font-family: "Manrope";
  font-size: 44px;
  font-weight: 600;
  color: var(--block-title-grey);
  line-height: 60px;
  margin-top: 10px;
}
.block1_el2 {
  width: 100%;
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 400;
  color: var(--block-title-grey);
}
.block1_el {
  display: flex;
  flex-direction: row;
}
span {
  display: inline-block;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.itemsMarquee {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  animation: marquee 20s linear infinite;
}
.item {
  flex: 0 0 auto;
  font-family: "Manrope";
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-txt-color);
  margin: auto;
  padding: 10px;
  gap: 10px;
}
.block2_el1 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Manrope";
  line-height: 27px;
  color: var(--block-title);
}
.block2_el2,
.block2_el3,
.block2_el4,
.block2_el5 {
  border: 1px solid var(--border-line);
  border-radius: 10px;
}
