@import url("../../../../var.css");

@media screen and (max-width: 1920px) {
  .burger_input {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .burger_input {
    width: 25%;
    position: absolute;
    display: flex;
    right: 0;
  }
  .burger_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .burger_btns {
    display: flex;
  }

  .burger_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 68px;
    width: max-content;
    border: 1px solid var(--border-line);
    z-index: 99;
  }
  .burger {
    display: flex;
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 20px 0 0 0;
    background-color: var(--color_txt2);
    z-index: 100;
    border: 1px solid var(--border-line);
    cursor: pointer;
  }
  .burger img {
    padding: 20px;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    background-color: var(--main-bg-color);
    border-radius: 0;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Manrope";
    border: 1px solid var(--border-line);
    color: var(--main-txt-color);
  }
}
