@import url("../../../var.css");

.container {
  display: flex;
  justify-content: space-between;
  font-family: "Manrope";
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  background-color: var(--button-bg);
  gap: 20px;
}

span {
  display: inline-block;
}

.img {
  width: 10%;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.itemsMarquee {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  animation: marquee 20s linear infinite;
}
.item {
  flex: 0 0 auto;
  border-radius: 6px;
  font-size: 27px;
  font-weight: bold;
  margin: 20px 0px 20px 20px;
  transition: all 0.5s ease-in-out;
  color: var(--violet-light);
}
.item:hover {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
