@import url("../../../var.css");

.container {
  position: relative;
  width: 100%;
  margin: 150px 0px 0px 0px;
}
.block1 {
  margin: auto;
  width: 90%;
  font-family: "Manrope";
  font-size: 300px;
  font-weight: 600;
  color: var(--button-bg);
  text-align: right;
}
