@import url("../../../../var.css");
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.leftContainer {
  border-right: 1px solid var(--border-line);
}
.block {
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);
  padding: 15px 0;
  text-align: left;
}
.block1_l,
.block2_l,
.block3_l,
.block4_l {
  width: 100%;
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);
  border-right: 1px solid var(--border-line);
}
.block1_r,
.block2_r,
.block3_r,
.block4_r {
  width: 100%;
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);
}
.btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--border-line);
  background-color: var(--main-bg-color);
  margin: 25px;
}
.span {
  font-size: 20px;
  font-weight: 600;
  font-family: "Manrope";
  color: var(--main-txt-color);
}
.description {
  font-size: 18px;
  font-weight: 400;
  font-family: "Manrope";
  color: var(--block-title-grey);
  margin: 25px;
}
.icon {
  width: 12px;
  height: 6px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  align-items: center; /* Центрирует содержимое по вертикали */
}
