@import url("../../../var.css");

.container {
  display: flex;
  font-family: "Manrope";
}
.btn1,
.btn2,
.btn3,
.btn4 {
  background-color: var(--main-bg-color);
  border-radius: 0px;
  width: 150px;
  height: 90px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Manrope";
  border: 1px solid var(--border-line);
  color: var(--main-txt-color);
}
.btn1 {
  border-radius: 10px 0px 0px 0px;
  background-color: var(--button-bg);
}
.btn4 {
  border-radius: 0px 10px 0px 0px;
}
