@import url("../../../../../var.css");
.container {
  width: 50%;
  text-align: left;
  margin: auto;
}
.iconStars {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
.container1 {
  width: 100%;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--border-line);
  float: right;
}
.container2 {
  width: 100%;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid var(--border-line);
  float: right;
}
.block1,
.block2 {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 40px;
}
.block1_el1,
.block2_el1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
span {
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 500;
}
.block1_el2 {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  color: var(--block-info1);
}
.block2_el2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.block2_el2_mail {
  width: 50%;
  font-family: "Manrope";
}
.block2_el2_phone {
  width: 50%;
  font-family: "Manrope";
}
.block2_el3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.block2_el3_btn1,
.block2_el3_btn2 {
  border-radius: 10px;
  border: 1px solid;
  background: var(--button-bg);
  width: 220px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Manrope";
  border: 1px solid var(--border-line);
  color: var(--button-txt);
}

.btn_social {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--button-bg);
  border: 1px solid var(--border-line);
}
.icon_social {
  width: 20px;
  height: 20px;
}
.title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Manrope";
  color: var(--h2);
}
.info {
  font-size: 18px;
  font-weight: 400;
  font-family: "Manrope";
  color: var(--main-txt-color);
}
